/* START MONTSERRAT FONT */

@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

/* START LATO FONT */

@font-face {
    font-family: 'Lato Regular';
    src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Medium';
    src: url('fonts/Lato/Lato-Medium.ttf');
}

@font-face {
    font-family: 'Lato Black';
    src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('fonts/Lato/Lato-Bold.ttf');
}

/* START RALEWAY FONT */

@font-face {
    font-family: 'Raleway Regular';
    src: url('fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}
