body {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.bcg-yellow {
    background-color: #ffba00;
}

.text-yellow {
    color: #ffba00;
}

.bcg-yellow-light {
    background-color: #ffda00;
}

.flex-box {
    display: flex;
}

.main-container {
    background-color: #242424;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* HEADER BAR */

.header img {
    position: absolute;
    width: 100%;
    height: 960px;
}

header {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    height: 960px;
    position: relative;
    z-index: 3;
    font-size: 33px;
}

.header-bar {
    width: 100%;
    display: flex;
}

header > div:first-child div {
    position: absolute;
    width: 350px;
    height: 76px;
    top: 40px;
}

header div:first-child div span {
    margin-top: 40px;
}


header div:first-child nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 33%;
    padding-right: 15%;
}

header div:first-child nav {
    font-family: "Lato Regular", serif;
    font-weight: lighter;
    margin-top: 40px;
    width: 100%;
}

.header-bar span:first-child {
    display: inline-block;
    margin-top: 12px;
    margin-left: 40%;
    font-family: "Montserrat Regular", serif;
}

.header-bar span:nth-child(2) {
    letter-spacing: 0.1em;
    font-family: "Montserrat Extra Bold", serif;
}

/* GRAND OPENING */

.grand-opening {
    margin-top: 288px;
    padding-left: 11%;
    height: 196px;
}

.grand-opening div div:nth-child(1) {
    font-family: "Montserrat Black", serif;
    font-weight: bolder;
    font-size: 125px;
}

.grand-opening div div:nth-child(2) {
    font-family: "Montserrat Regular", serif;
    font-weight: bolder;
    font-size: 105px;
    position: relative;
    top: -19px;
}

.grand-opening > div:nth-child(2) {
    position: relative;
    top: -128px;
    width: 280px;
    height: 76px;
    margin-right: 20%;
    margin-left: 50%;
    border: 4px solid white;
}

.grand-opening > div:nth-child(2) span {
    position: absolute;
    top: 16px;
    left: 15%;
    font-size: 38px;
}

/* NEW FORMAT START */

.what-new {
    position: relative;
    /*top: -40px;*/
    left: 0;
    height: 608px;
}

.what-new img {
    position: absolute;
    top: 80px;
    left: 55%;
    width: 45%;
    height: 444px;
}

.what-new > div {
    position: relative;
    top: 136px;
    left: 280px;
    z-index: 3;
    width: 620px;
}

.what-new .bcg-yellow {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: -130px;
    height: 190px;
    width: 952px;
}

.what-new ul {
    position: relative;
    z-index: 2;
    font-size: 42px;
    letter-spacing: 0.1em;
    font-family: "Lato Black", serif;
}

.what-new li {
    letter-spacing: normal;
    margin-top: 32px;
    font-size: 33px;
    font-family: "Lato Medium", serif;
}


.what-new ul:after {
    z-index: 2;
    position: absolute;
    content: "new format";
    font-size: 50px;
    top: -290px;
    left: -100px;
    height: 600px;
    width: 600px;
    transform: rotate(-90deg);
    font-family: "Montserrat Light", serif;
}

/* FORMULA START */

.formula {
    height: 274px;
    background-color: #ffffff;
    position: relative;
    color: black;
    font-size: 17px;
    font-family: "Lato Medium", serif;
    display: flex;
    justify-content: space-around;
}

.formula span {
    padding-top: 20px;
    font-size: 29px;
    font-family: "Montserrat Black", serif;
}

.formula div {
    align-self: center;
    width: 23%;
    text-align: justify;
}

/* MENU START */

.menu {
    height: 1200px;
}

.menu img {
    position: absolute;
    width: 100%;
    height: 1200px;
    /*z-index: 3;*/
}

.menu-container {
    position: relative;
    z-index: 3;
}

.menu-container > div:nth-child(1) > div:nth-child(1) {
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
}

.menu-container > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) {
    font-family: "Montserrat Regular", serif;
}

.menu-container > div:nth-child(1) > div:nth-child(1) > span:nth-child(2) {
    font-family: "Montserrat Extra Bold", serif;
}

.menu-container > div:nth-child(1) > div:nth-child(2) {
    font-size: 42px;
    font-family: "Montserrat Medium", serif;
    border: 2px solid white;
    margin-top: 54px;
    margin-left: 18%;
    height: 126px;
}

.menu-container > div:nth-child(1) > div:nth-child(2) > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}


.menu-container > div:nth-child(2) {
    position: relative;
    /*z-index: 1;*/
    margin-top: 94px;
    font-size: 33px;
    font-family: "Lato Medium", serif;
}

.menu-container > div:nth-child(2) span {
    font-family: "Lato Black", serif;
}

.menu-container > div:nth-child(2) > div:nth-child(1) {
    /*z-index: 0;*/
    position: absolute;
    /*top: 300px;*/
    left: 28%;
    height: 412px;
    width: 72%;
}

.prices {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    position: absolute;
    top: 64px;
    left: 75%;
    width: 64px;
    height: 440px;
    opacity: 0.8;
}

.prices span:nth-child(1) {
    margin-top: 20px;
}


.prices span {
    position: relative;
    display: block;
    margin-bottom: 80px;
    font-family: "Lato Black", serif;
    left: -24px;
}

.firstz3 {
    padding-top: 68px;
}

.zindex3 {
    position: relative;
    z-index: 3;
    margin-left: 30%;
    margin-bottom: 40px;
}

.menu-container3 {
    border: 2px white solid;
    height: 156px;
    position: relative;
    margin-top: 80px;
    font-family: "Lato Regular", serif;
    font-size: 25px;
    margin-left: 18%;
    margin-right: 18%;
}


.menu-container3 div span {
    display: block;
    margin-top: 16px;
    margin-left: 18%;
}

/* ABOUT START */

.about {
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about > div {
    font-size: 42px;
    font-family: "Lato Regular", serif;
}

.about > div > span {
    font-family: "Montserrat Black", serif;
}

.about > p {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Raleway Regular", serif;
    font-size: 19px;
}

.about > ul {
    display: flex;
    justify-content: center;
}

.about ul > li {
    margin-right: 20px;
    font-family: "Raleway Bold", serif;
    font-size: 17px;
}

/* MASTERCLASS START */

.masterclass {
    height: 1200px;
    position: relative;
}


.masterclass div {
    position: relative;
    z-index: 3;
}

.masterclass span {
    display: block;
}

.masterclass > div:nth-child(2) {
    font-size: 42px;
    font-family: "Lato Black", serif;
    width: 320px;
    padding-top: 96px;
    margin-left: 80%;
    transform: translateX(-60%);
}

.masterclass > div:nth-child(3) > span:nth-child(1) {
    font-family: "Lato Bold", serif;
    font-size: 50px;
}

.masterclass > div:nth-child(3) > span:nth-child(2) {
    font-family: "Lato Black", serif;
    font-size: 42px;
}

.masterclass > div:nth-child(3) > div > div {
    font-family: "Lato Medium", serif;
    font-size: 42px;
}

.masterclass > div:nth-child(3) > div > div > span:nth-child(1) {
    display: initial;
    font-family: "Lato Bold", serif;
    font-size: 42px;
}

.masterclass > div:nth-child(3) > div > div > span:nth-child(2) {
    display: initial;
    font-family: "Lato Black", serif;
    font-size: 42px;
}

.masterclass > div:nth-child(3) > div > span:nth-child(2) {
    font-family: "Lato Medium", serif;
    font-size: 42px;
}

.masterclass > div:nth-child(3) {
    height: 624px;
    width: 536px;
    font-size: 42px;
    font-family: "Lato Black", serif;
    margin-top: 92px;
    margin-left: 80%;
    transform: translateX(-80%);
}

.masterclass > div:last-child {
    height: 120px;
    width: 468px;
    font-size: 42px;
    font-family: "Lato Black", serif;
    margin-top: 46px;
    margin-left: 80%;
    transform: translateX(-77%);
}

.masterclass img {
    position: absolute;
    height: 1200px;
    width: 100%;
}

/* GALLERY START */

.gallery {
    position: relative;
    height: 1260px;
}

.gallery > span:first-child {
    position: relative;
    z-index: 3;
    display: block;
    padding-top: 140px;
    font-family: "Montserrat Black", serif;
    font-size: 42px;
    text-align: center;
    text-shadow: 0 0 1px black;
}

.imgs {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 476px;
    margin-top: 52px;
    width: 100%;
}

.imgs img:nth-child(1) {
    width: 51%;
}

.imgs img:nth-child(2) {
    width: 22%;
}

.gallery > h2 {
    position: relative;
    z-index: 3;
    margin-top: 112px;
    font-size: 42px;
    font-family: "Montserrat Bold", serif;
    text-align: center;


}

.gallery .bcg-yellow {
    position: absolute;
    top: 0;
    left: 18%;
    height: 1260px;
    width: 20%;
    /*background-color: red;*/
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery-container > div:nth-child(2) {
    width: 25%;
    position: relative;
    margin-right: 5%;
    font-size: 25px;
    font-family: "Lato Regular", serif;
}

.gallery-container > div:nth-child(3) {
    width: 25%;
    position: relative;
    top: 40px;
    font-size: 25px;
    font-family: "Lato Medium", serif;
}


.gallery-container h2 {
    text-align: right;
    font-size: 19px;
    font-family: "Raleway Bold", serif;
}

.img-social {
    display: flex;
    /*justify-content: center;*/
    height: 56px;
    margin-top: 20px;
}

.img-social img {
    margin-left: 12px;
    width: 56px;
}

.right-side div:nth-child(2) {
    margin-top: 60px;
}

.right-side span {
    font-family: "Lato Black", serif;
    font-size: 33px;
}

/* FOOTER START */

footer {
    height: 225px;
    width: 100%;
    background-color: #483500;
}

footer {
    display: flex;
}

footer > div:nth-child(1) {
    width: 25%;
    align-self: center;
    margin-left: 12%;
}

footer > div:nth-child(2) {
    margin-left: 8%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
}

footer > div:nth-child(2) div {

}

footer p {
    font-family: "Lato Medium", serif;
    font-size: 19px;
}

.title-footer1 {
    font-size: 25px;
}

footer span {
    font-family: "Raleway Bold", serif;
    font-size: 21px;
}

footer ul {
    font-family: "Roboto Regular", serif;
    font-size: 21px;
    margin-top: 24px;
}

@media screen and (max-width: 1280px) {

    footer {
        height: 340px;
    }

    footer > div:first-child{
        position: relative;
         top: 16px;
    }


    .gallery, .gallery .bcg-yellow {
        height: 1300px;
    }

    .formula {
        height: 340px;
    }

    .formula div {
        text-align: left;
    }

    .grand-opening > div:nth-child(2) {
        margin-left: 60%;
    }

    .menu-container > div:nth-child(2) > div:nth-child(1) {

        left: 5%;
        height: 412px;
        width: 90%;
        margin-right: 50%;
        padding-right: 5%;
    }

    .prices {

        position: absolute;
        top: 44px;
        left: 75%;
        width: 64px;
        height: 440px;
        opacity: 0.8;
    }

    .prices span:nth-child(1) {
        margin-top: 20px;
    }


    .prices span {
        position: relative;
        display: block;
        margin-bottom: 80px;
        font-family: "Lato Black", serif;
        left: -24px;
        top: 20px;
    }

    .firstz3 {
        padding-top: 68px;
    }

    .zindex3 {
        position: relative;
        z-index: 3;
        left: -20%;
        margin-bottom: 40px;
        margin-right: 10%;
        font-size: 30px;
    }

}


@media screen and (max-width: 1140px) {

    .header-bar {
        display: flex;
        flex-direction: column;
    }

    header > div:first-child div {
        width: 280px;
        height: 76px;
        top: 50px;
    }

    header div:first-child nav ul {
        padding-left: 5%;
        padding-right: 5%;
    }

    header div:first-child nav {
        margin-top: 0;
    }

    .header-bar span:first-child {
        margin-left: 20%;
    }

    .grand-opening {
        padding-left: 4%;
        height: 196px;
    }

    .grand-opening div div:nth-child(1) {

        font-size: 115px;
    }

    .grand-opening div div:nth-child(2) {
        font-family: "Montserrat Regular", serif;
        font-weight: bolder;
        font-size: 95px;
        position: relative;
        top: -2px;
    }

    .grand-opening > div:nth-child(2) {
        width: 240px;
        margin-left: 65%;
        height: 50px;
        padding: 0;
        top: -90px;
    }

    .grand-opening > div:nth-child(2) span {
        top: 6px;
        font-size: 32px;
    }

    .menu-container > div:nth-child(1) > div:nth-child(2) {
        font-size: 42px;
        font-family: "Montserrat Medium", serif;
        border: 2px solid white;
        margin-top: 54px;
        margin-left: 18%;
        height: 126px;
    }

    .menu-container > div:nth-child(1) > div:nth-child(2) > span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

    .gallery, .gallery .bcg-yellow {
        height: 1440px;
    }

    .gallery-container > div:nth-child(3) {
        top: 60px;
    }

}

@media screen and (max-width: 830px) {

    .menu {
        height: 1280px;
    }

    .menu img {
        height: 1280px;
    }


    .prices {
        height: 500px;
    }

    .prices span {
        top: 36px;
    }

    .prices span:last-child {
        top: 48px;
    }

    .gallery-container > div:nth-child(3) {
        top: 120px;
    }

    .gallery-container > div:nth-child(3) > div:nth-child(1) {
        position: relative;
        top: -60px;
    }

    .gallery-container > div:nth-child(3) > div:nth-child(2) {
        position: relative;
        top: 60px;
    }


}

@media screen and (max-width: 768px) {

    footer {
        flex-direction: column;
    }

    footer > div:first-child {
        margin-top: 32px;
        width: 90%;
        /*padding-right: 5%;*/
        margin-right: 5%;
        margin-left: 5%;
    }

    footer > div:last-child {
        margin-top: 32px;
        width: 100%;
        margin-left: 0;
    }

    .title-footer1 {
        font-size: 21px;
    }

    .title-footer2, .title-footer3, .title-footer4 {
        font-size: 17px;
    }

    footer li {
        font-size: 17px;
    }

    header {
        height: 840px;
    }

    .header img {
        height: 840px;
    }

    header div:first-child nav ul {
        padding-left: 0;
        padding-right: 0;
        font-size: 28px;
    }

    header > div:first-child div {
        width: 250px;
        height: 70px;

        top: 50px;
    }

    .gallery, .gallery .bcg-yellow {
        height: 1400px;
    }


    .header-bar span:first-child {
        display: inline-block;
        margin-top: 12px;
        margin-left: 10%;
    }


    .grand-opening {
        padding-left: 0%;
        height: 196px;
        text-align: center;
    }

    .grand-opening > div {
        position: relative;
        top: 36px;
    }

    .grand-opening div div:nth-child(1) {
        width: 100%;
        font-size: 95px;
    }

    .grand-opening div div:nth-child(2) {
        font-family: "Montserrat Regular", serif;
        font-weight: bolder;
        font-size: 75px;
        position: relative;
        top: -2px;
    }

    .grand-opening > div:nth-child(2) {
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
    }

    .what-new {
        position: relative;
        left: 0;
        height: 608px;
    }

    .what-new img {
        position: absolute;
        top: 80px;
        left: 35%;
        width: 65%;
        height: 444px;
    }

    .what-new > div {
        position: relative;
        top: 136px;
        left: 120px;
        z-index: 3;
        width: 60%;
    }


    .what-new ul {
        font-size: 40px;
    }


    .what-new li {
        margin-top: 32px;
        font-size: 30px;
    }


    .formula {
        height: 500px;
    }

    .formula div {
        text-align: left;
    }

    /*  MASTERCLASS  */
    .masterclass {
        height: 900px;
    }

    .masterclass img {
        height: 900px;
    }

    .masterclass > div:nth-child(2) {
        font-size: 38px;
        width: 320px;
        padding-top: 48px;
        margin-left: 80%;
        transform: translateX(-60%);
    }

    .masterclass > div:nth-child(3) > span:nth-child(1) {
        font-family: "Lato Bold", serif;
        font-size: 46px;
    }

    .masterclass > div:nth-child(3) > span:nth-child(2) {
        font-size: 38px;
    }

    .masterclass > div:nth-child(3) > div > div {
        font-size: 38px;
    }

    .masterclass > div:nth-child(3) > div > div > span:nth-child(1) {
        font-size: 38px;
    }

    .masterclass > div:nth-child(3) > div > div > span:nth-child(2) {
        font-size: 38px;
    }

    .masterclass > div:nth-child(3) > div > span:nth-child(2) {
        font-size: 38px;
    }

    .masterclass > div:nth-child(3) {
        text-align: center;
        height: 360px;
        width: 100%;
        font-size: 38px;
        margin-top: 72px;
        margin-left: 80%;
        transform: translateX(-80%);
    }

    .masterclass > div:last-child {
        height: 72px;
        width: 60%;
        font-size: 38px;
        margin-top: 46px;
        margin-left: 80%;
        transform: translateX(-77%);
    }

    .gallery, .gallery .bcg-yellow {
        height: 1200px;
    }

    .gallery > span:first-child {
        padding-top: 80px;
        font-size: 38px;
    }

    .imgs {

        height: 380px;
        flex-wrap: wrap;
    }

    .imgs img:nth-child(1) {
        width: 100%;
        height: 80%;
    }

    .imgs img:nth-child(2) {
        height: 60%;
        width: 50%;
    }

    .imgs img:nth-child(3) {
        height: 60%;
        width: 50%;
    }

    .gallery > h2 {
        position: relative;
        z-index: 3;
        margin-top: 200px;
        font-size: 33px;
        text-align: center;
    }


    .gallery-container > div:nth-child(2) {
        position: relative;
        left: -8%;
        width: 32%;
        margin-right: 0%;
        font-size: 18px;
    }

    .gallery-container > div:nth-child(3) {
        width: 25%;
        font-size: 17px;
        top: 100px;
        left: -20px;
    }


    .gallery-container > div:nth-child(3) > div:nth-child(2) {
        position: relative;
        top: -60px;
    }

    .gallery-container h2 {
        font-size: 14px;
    }

    .right-side span {
        font-family: "Lato Black", serif;
        font-size: 24px;
    }

    .img-social {
        display: flex;
        /*justify-content: center;*/
        height: 28px;
        margin-top: 20px;
    }

    .img-social img {
        margin-left: 12px;
        width: 56px;
    }

    .gallery .bcg-yellow {
        left: 10%;
        /*background-color: red;*/
        width: 25%;
    }

}


@media screen and (max-width: 480px) {

    .menu {
        height: 1462px;
    }

    .menu img {
        height: 1462px;
    }

    .menu-container > div:nth-child(1) > div:nth-child(2) {
        font-size: 42px;
        font-family: "Montserrat Medium", serif;
        border: 2px solid white;
        margin-top: 54px;
        margin-left: 18%;
        height: 188px;
    }


    .prices {
        height: 600px;
    }

    .prices span {
        top: 36px;
    }

    .prices span:nth-child(2) {
        top: 68px;
    }

    .prices span:nth-child(3) {
        top: 88px;
    }

    .prices span:last-child {
        top: 148px;
    }

    .about {
        height: 488px;
    }

}

@media screen and (max-width: 460px) {

    footer {
        height: 400px;
    }

    header {
        height: 740px;
    }

    .header img {
        height: 740px;
    }

    .grand-opening {
        position: relative;
        top: -72px;
        padding-left: 0%;
        height: 196px;
    }

    .formula {
        height: 540px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .formula div {
        text-align: center;
        width: 100%;
    }

    header div:first-child nav ul {
        font-size: 24px;
    }

    header > div:first-child div {
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        height: 68px;
    }

    .header-bar span:first-child {
        margin-left: 10%;
    }

    .grand-opening > div {
        position: relative;
        top: 72px;
    }

    .grand-opening div div:nth-child(1) {
        font-size: 75px;
    }

    .grand-opening div div:nth-child(2) {
        font-size: 55px;
    }

    .grand-opening > div:nth-child(2) {
        top: 80px;
        width: 204px;
        font-size: 24px;
    }

    .grand-opening > div:nth-child(2) > span {
        top: 12px;
        font-size: 24px;
    }

    .what-new img {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 444px;
    }

    .what-new ul {
        position: relative;
        /*left: 280px;*/
        z-index: 2;
        font-size: 33px;
        letter-spacing: 0.1em;
        font-family: "Lato Black", serif;
    }

    .what-new li {
        letter-spacing: normal;
        margin-top: 32px;
        font-size: 24px;
        font-family: "Lato Medium", serif;
    }

    .menu {
        height: 1560px;
    }

    .menu img {
        height: 1560px;
    }

    .right-side {
        margin-left: 0;
        transform: translateX(80%);
        width: 100%;
    }

    .right-side > div {
        width: 200%;
    }

    .right-side img {
        width: 32px;
        height: 32px;
    }


    .left-side {
        margin-left: 60%;
        margin-right: 60%;
        transform: translateX(-50%);
        width: 75% !important;
    }

    .left-side p {
        width: 100%;
    }

    .right-side .text-yellow {
        text-shadow: 0 0 1px black;
    }

    .gallery-container {
        flex-direction: column;
    }

    .gallery, .gallery .bcg-yellow {
        height: 1320px;
    }

.about ul li:first-child {
    margin-left: 5%;
}

}

@media screen and (max-width: 424px) {
    .prices {
        height: 700px;
    }


    .prices span:nth-child(1) {
        top: 68px;
    }

    .prices span:nth-child(2) {
        top: 128px;
    }

    .prices span:nth-child(3) {
        top: 228px;
    }

    .prices span:last-child {
        top: 248px;
    }

}


@media screen and (max-width: 424px) {

    .menu {
        height: 1560px;
    }

    .menu img {
        height: 1560px;
    }

    .prices {
        height: 700px;
    }


    .prices span:nth-child(1) {
        top: 68px;
    }

    .prices span:nth-child(2) {
        top: 128px;
    }

    .prices span:nth-child(3) {
        top: 228px;
    }

    .prices span:last-child {
        top: 248px;
    }
}

@media screen and (max-width: 346px) {

    .masterclass {
        height: 1000px;
    }

    .masterclass img {
        height: 1000px;
    }

   .therecipe {
       height: 500px !important;
   }


    .menu {
        height: 1680px;
    }

    .menu img {
        height: 1680px;
    }

    .menu-container3 > div:first-child{
        font-size: 22px;
    }
    .menu-container3 > div:first-child span{
        margin-left: 10%;
    }

}


    @media screen and (max-width: 320px) {

}